@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .post-card {
    @apply h-full w-full bg-opacity-30 backdrop-blur-md p-4 flex flex-col bg-gradient-to-br from-orange-500 via-yellow-400 to-sky-400;
  }
  .content-main {
    @apply relative mx-auto mb-12 mt-14 w-fit max-w-full rounded-[16px] bg-white pt-8 sm:mb-16 sm:rounded-[32px] md:mb-24 md:rounded-[64px] md:px-12 lg:px-24 lg:pt-12 bg-gradient-to-br from-green-400 via-blue-500 to-purple-400 h-full;
  }
  .content-btn {
    @apply flex items-center justify-center text-white gap-x-1  px-2 py-1.5 opacity-50 hover:opacity-75 text-[12px] sm:text-[13px] hover:scale-110 transition-all ease-in-out duration-200 rounded-[8px] flex-shrink-0 font-medium overflow-y-hidden h-full overflow-x-auto;
  }
  .solution-btn{
    @apply p-2 mx-auto sm:font-medium text-xs sm:text-lg inline-flex items-center justify-center opacity-50 hover:opacity-100 whitespace-nowrap transition-all ease-in-out duration-500
  }
}
